*{
    margin: 0;
    padding: 0;
    list-style-type: none;  
}


body{
    display: flex;
    flex-direction: column;
    background: url(Rectangle.svg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100%;
    justify-content: center;

}

.flex_groups{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 800px;
}

.header{
    display: flex;
    width: 118%;
    height: 75px;
    justify-content: space-evenly;
}

.list_logo{
    display: flex;
    align-items: center;
    width: 25%;
}

.info_name{
    text-align:center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#F7F7F7;
    font-size: 20px;
}



.list_header{
    display: flex;
    width: 25%;
    flex-direction: row;
    justify-content:space-around;
    text-align: center;
    align-items: center;
}

.list_header > li:not(.info_search) {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #da2020;
}

.info_sign_in{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    border: 2px solid #ff5e00;
    border-radius: 15px;
    transition: 0.5s;
}

.info_sign_in:hover {
    background-color: rgb(255, 68, 0);
}

a{
    text-decoration: none;
    color:#F7F7F7;
}

.Survival{
    width: 1480px;
} 

.Survlist {
    position: absolute;
    width: 306px;
    height: 72px;
    left: 120px;
    top: -51px;
    
}

.Survtitle{
    display: flex;
    height: 350px;
    align-items: flex-end;
}

.Survtitle > a{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 82px;
    line-height: 0px;    
    letter-spacing: 2px;
    color: #e95b0a;
}

.Survtxt{
    position: absolute;
    width: 443px;
    height: 108px;
    left: 0px;
    right: 0px;
    top: 495px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 37px;
    color: #F7F7F7;
}

.Survbutton{
    position: absolute;
    width: 219px;
    height: 66px;
    left: 0px;
    top: 743px;
    border: 2px solid #ff5e00;
    border-radius: 15px;
}
.Survbutton > a {
    position: absolute;
    width: 28px;
    height: 60px;
    left: 43px;
    top: 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 27px;
    text-align: center; 
    color: #F7F7F7;
}

.Survbutton:hover{
    background: #CD6326;
    border-radius: 15px;
    transition: 0.5s;
}

.seriy_fon {
    display: flex;
    flex-direction: column;
    height: 1368px;
    background: #CCCCCC;
}

.latest {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
}

.latesttxt {
    text-align: center;
}

.latesttxtup {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333333;
}

.latesttxtdown {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #666666;
}

.lenta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

.strelkaLeft:hover {
    transform: scale(1.3);
    transition: 1s;
}

.strelkaRight:hover {
    transform: scale(1.3);
    transition: 1s;
}

.block1 {
    position: relative;
    width: 300px;
    height: 360px;
    background-image: url(1111.svg);
}

.block2 {
    position: relative;
    width: 300px;
    height: 360px;
    background-image: url(222222.svg);
}

.block3 {
    position: relative;
    width: 300px;
    height: 360px;
    background-image: url(333333333.svg);
}

.blocktxt1 {
    position: absolute;
    bottom: 50px;
    left: 70px;
}

.blocktxt2 {
    position: absolute;
    bottom: 50px;
    left: 90px;
}

.blocktxt3 {
    position: absolute;
    bottom: 50px;
    left: 100px;
}

